@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Josefin+Sans:wght@300;600&family=Indie+Flower&family=Montserrat&family=Patrick+Hand&family=Quicksand&family=Raleway&display=swap");

$bgcolor: #f8f4ec;
$footercolor: #515f52;
$beige: #c4bfa9;
$darkgreen: #303223;
$gold: #a79d85;
$green: #6f7d70;

// $headerfont: "Indie Flower", cursive;
$headerfont: "capitol", sans-serif;
$breadfont: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;
$josefin: "Josefin Sans", sans-serif;
